@font-face {
  font-family: "iconfont"; /* Project id 4139311 */
  src: url('iconfont.woff2?t=1687782549991') format('woff2'),
       url('iconfont.woff?t=1687782549991') format('woff'),
       url('iconfont.ttf?t=1687782549991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-StarUnselected:before {
  content: "\e617";
}

